<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background: url(https://miro.medium.com/max/1200/1*AcYLHh0_ve4TNRi6HLFcPA.jpeg) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<title>EMI Calculation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <!-- <div class="w3-container w3-cursive"> -->
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block w3-container w3-cursive" style="width:25%">
        <h3 class="w3-bar-item">Select Loan Type</h3>
        <a href="house.html" class="w3-bar-item w3-button">House Loan</a>
        <a href="education.html" class="w3-bar-item w3-button">Education Loan</a>
        <a href="personal.html" class="w3-bar-item w3-button">Personal Loan</a>
        <a href="gold.html" class="w3-bar-item w3-button">Gold Loan</a>
        <a href="agri.html" class="w3-bar-item w3-button">Agri Loan</a>
        <a href="vehicle.html" class="w3-bar-item w3-button">Vehicle Loan</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>Welcome</h1>
        </div>

        <div class="w3-container">
            <h2>Selct the Loan Type for EMI Calculation</h2>
        </div>

    </div>

</body>

</html>