<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    body { 
    background:  url(https://miro.medium.com/max/1200/1*AcYLHh0_ve4TNRi6HLFcPA.jpeg) no-repeat center center fixed; 
    background-size: cover;
  } 
    </style>
    <title>Loan Types</title>
</head>
<body>
    <form>
    <center><h1>!!!.....Types of Loans Available.....!!!</h1></center>
    <br><br>
    <table border = "1" align = "center">
        <thead>
        <tr>
            <th><h2>LOAN ID</h2></th>
            <th><h2>LOAN TYPES</h2></th>
            <th><h2>INTEREST PERCENTAGE</h2></th>
        </tr>
        </thead>
        <tbody>
        <tr></tr><td><h2>HL</h2></td>
        <td><h2>House Loan</h2></td>
        <td><h2>2% - 5% depends on Amount</h2></td>
        <td><img src="../images/h1.jpeg" alt="House Loan" width="200" height="200"></td>
        </tr>
        <tr><td><h2>EL</h2></td>
        <td><h2>Education Loan</h2></td>
        <td><h2>2%</h2></td>
        <td><img src="../images/e1.jpeg" alt="House Loan" width="200" height="200"></td>
        </tr>
        <tr><td><h2>PL</h2></td>
        <td><h2>Personal Loan</h2></td>
        <td><h2>3%</h2></td>
        <td><img src="../images/p1.jpeg" alt="House Loan" width="200" height="200"></td>
        </tr>
        <tr><td><h2>GL</h2></td>
        <td><h2>Gold Loan</h2></td>
        <td><h2>1.5%</h2></td>
        <td><img src="../images/g1.jpeg" alt="House Loan" width="200" height="200"></td>
        </tr>
        <tr><td><h2>AL</h2></td>
        <td><h2>Agricultural Loan</h2></td>
        <td><h2>1%</h2></td>
        <td><img src="../images/a1.jpeg" alt="House Loan" width="200" height="200"></td>
        </tr>
        <tr><td><h2>VL</h2></td>
        <td><h2>Vehicle Loan</h2></td>
        <td><h2>3%</h2></td>
        <td><img src="../images/c1.jpeg" alt="House Loan" width="200" height="200"></td>
        </tr>
        </tbody>
    </table>
    </form>
</body>
</html>